@import "mixins.scss";

%mp0{
    margin: 0;
    padding: 0;
}
.bg-transparent{
    background-color: transparent !important;
}
@each $name,$style in (night,$night),(fire,$fire),(silver,$silver),(sky,$sky),(day,$day){
    .bg-#{$name}{
        background-color: $style;
    }
    .text-#{$name}{
        @include text-reversation($style,true);
    }
    .text-#{$name}-reverse{
        @include text-reversation($style,false);
    }
}


.prl{
    $prl:15px !global;
    padding-left: $prl;
    padding-right: $prl;
}
.ptb{
    $ptb:15px !global;
    padding-top: $ptb;
    padding-bottom: $ptb;
}

.fileStyle{
    position: absolute;
    cursor: default;
    .icon{
        &:hover{
            transition: $transition;
            color: $silver;
        }
        font-size: $xxLargeSize;
    }
    .title{
        line-height: $lineHeight+0.5;
    }
}