@import "functions.scss";
@import "variables.scss";

@for $size from 1 through $numberOfGrids{//GRID NONDEVICE
    .grid-#{$size}{
        width: grid($size);
    }
}
@for $size from 1 through $numberOfGrids{//GRID LIST NONDEVICE
    .grid-list-#{$size}{
        li{
            width: grid($size);
        }
    }
}

@each $display in (none,block,inline,inline-block){//DISPLAY NONDEVICE
    .display-#{$display}{
        display: $display;
    }
}

@each $display in (none,block,inline,inline-block){
    .display-list-#{$display}{//DISPLAY LIST NONDEVICE
        li{
            display: $display;
        }
    }
}

@each $float in (left,right,none){//FLOAT NONDEVICE
    .float-#{$float}{
        float: $float;
    }
}
 @each $float in (left,right,none){//FLOAT LIST NONDEVICE
    .float-list-#{$float}{
        li{
            float: $float;
        }
    }
}

@each $text in (left,center,right){//TEXT(align) NONDEVICE
    .text-#{$text}{
        text-align: $text;
    }
}
