@mixin text-reversation($from,$to){
    color: $from;
    a{
        @if $to == true{
            color: lighten($from,10%) !important;
        }@else if $to == false{
            color: darken($from,10%) !important;
        }
        &:hoveR{
            transition: $transition;
            color: $from !important;
        }
    }   
}
@mixin button-reversation($from,$to){
    @if $to == true{
        color:lighten($from,50%);
        &:hover{
            transition: $transition;
            background-color: darken($from,10%);
        }
    }@else if $to == false{
        color:darken($from,50%);
        &:hover{
            transition: $transition;
            background-color: lighten($from,10%);
        }
    }
}