//COLORS
$night:#000;
$fire:#e0382d;
$silver:#e2e2e2;
$sky:#09afe3;
$day:#fff;


//FONTS
$font:"arial";
$lineHeight:1;
$normalSize:16px;
$smallSize:$normalSize/1.5;
$xSmallSize:$smallSize/1.5;
$xxSmallSize:$xSmallSize/1.5;
$largeSize:$normalSize*1.5;
$xLargeSize:$largeSize*1.5;
$xxLargeSize:$xLargeSize*1.5;
$weight:300;
$strong:700;


//borders
$radius:4px;


//animate
$transition:0.3s;

//GRID NUMBERS
$numberOfGrids:12;

$opacity:0.9;