
@import "imports.scss";

body{
    background-image: url("../images/wallpaper.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .desktop{
        position: relative;
        display: block;
        overflow: hidden;
        height: 100vh;
    
        .taskBar{
            position: absolute;
            bottom: 0;
            $taskBarColor:$night;
            background-color: $taskBarColor;
            width: 100%;
            color: $day;
            $taskBarHeight:50px !global;
            height: $taskBarHeight;
            border: 0;
            font-size: $largeSize;
            .taskBarItems{
                ul{
                    li{
                        cursor: default;
                        .item{
                            height: $taskBarHeight;
                            text-align: center;
                            line-height: $taskBarHeight;
                            @extend .prl;
                            &:hoveR{
                                transition: $transition;
                                background-color: lighten(rgba($taskBarColor,0.8),10%);
                            }
                        }
                        .bars{
                            i{
                                color: coral;
                            }
                        }
                        .ie{
                            i{
                                color: $sky;
                            }
                        }
                        .folder{
                            i{
                                color: orange;
                            }
                        }
                        .store{
                            i{
                                color: $silver;
                            }
                        }
                    }
                    &:last-child{
                        li{
                            font-size: $smallSize;
                            &:last-child{    
                                .time{
                                    p{
                                        display: block;
                                    }
                                }
                            }
                            .item{
                                
                            }
                        }   
                    }
                }
            }
        }
        .playGround{
            position: relative;
            display: block;
            $playGroundHeight: calc(100% - #{$taskBarHeight});
            height:$playGroundHeight;
            .startMenu{
                position: absolute;
                display: none;
                z-index: 2;
                bottom: 0;
                left: 0;
                color: $day;
                width: grid(5);
                $minStartMenuHeight:60vh;
                min-height: $minStartMenuHeight;
                background-color: rgba($night,$opacity);
                border: 1px solid rgba($sky,0.5);
                border-left: 0;
                border-bottom: 0;
                @extend .prl;
                @extend .ptb;
                .profile{
                    .profileBlock{
                        .image{
                            img{
                                border-radius: 50%;
                                width: 100%;
                            }
                        }
                        .name{
                            font-weight: $strong;
                            font-size: $largeSize;
                        }
                    }
                }
            }
            .files{
                position: relative;
                height: 100%;
                color: $day;
                z-index: 1;
                .file{
                    $fileSize:120px !global;
                    width: $fileSize;
                    height: $fileSize;
                    .file-item{
                        margin: $normalSize;
                        text-align: center;
                    }
                }
                .trashBox{
                    bottom: 0;
                    right: 0;
                    @extend .fileStyle;
                }
                .documents{
                    top: 0;
                    left: 0;
                    @extend .fileStyle;
                }
                .control{
                    top: $fileSize;
                    left: 0;
                    @extend .fileStyle;
                }
                .terminal{
                    top: calc(2* #{$fileSize});
                    left: 0;
                    @extend .fileStyle;
                }
            }
            .windows{
                z-index: 3;
                position: absolute;
                top: 0;
                right: 0;
                width: calc(100% - #{$fileSize}*2);
                .window{
                    $windowWidth:80%;
                    $windowHeight:600px;
                    width: $windowWidth;
                    height: $windowHeight;
                    .window-item{
                        margin: $largeSize;
                        .top{
                            background-color: $sky;
                            color: $day;
                            @extend .prl;
                            $windowHeight:35px;
                            height: $windowHeight;
                            line-height: $windowHeight;
                            cursor: default;
                            .logo{
                                text-align: left;
                            }
                            .text{
                                text-align: center;
                            }
                            .windowsActions{
                                text-align: right;
                                &:hoveR{
                                    transition: $transition;
                                    color: $fire;
                                }
                            }
                        }
                        .body{
                            background-color: rgba($day,$opacity*1.08);
                            min-height: 400px;
                            padding-top: $xSmallSize;
                            padding-bottom: $xSmallSize;
                        }
                    }
                }
                .terminal{
                    display: none;
                    .window-item{
                        .body{
                            background-color: rgba($night,$opacity);
                            color: $silver;
                            font-family: monospace;
                            b{
                                color: $fire;
                                font-weight: $strong;
                            }
                            span{
                                color: $sky;
                           }
                        }
                    }
                }
            }
        }
    }
}