
@import "imports.scss";

body{
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .desktop{
        position: relative;
        display: block;
        overflow: hidden;
        height: 100vh;
    
        .taskBar{
            z-index: 100;
            position: absolute;
            bottom: 0;
            $taskBarColor:$night;
            background-color: $taskBarColor;
            width: 100%;
            color: $day;
            $taskBarHeight:50px !global;
            height: $taskBarHeight;
            border: 0;
            font-size: $largeSize;
            .taskBarItems{
                ul{
                    li{
                        cursor: default;
                        .item{
                            height: $taskBarHeight;
                            text-align: center;
                            line-height: $taskBarHeight;
                            @extend .prl;
                            &:hoveR{
                                transition: $transition;
                                background-color: lighten(rgba($taskBarColor,0.8),10%);
                            }
                        }
                        .bars{
                            i{
                                color: #9a9a30;
                            }
                        }
                        .ie{
                            i{
                                color: $sky;
                            }
                        }
                        .documents{
                            i{
                                color: $silver;
                            }
                        }
                    }
                    &:last-child{
                        li{
                            font-size: $smallSize;
                            &:last-child{    
                                .time{
                                    p{
                                        display: block;
                                    }
                                }
                            }
                            .item{
                                
                            }
                        }   
                    }
                }
            }
        }
        .playGround{
            position: relative;
            display: block;
            $playGroundHeight: calc(100% - #{$taskBarHeight});
            height:$playGroundHeight;
            .startMenu{
                position: absolute;
                display: none;
                z-index: 2;
                bottom: 0;
                left: 0;
                color: $day;
                width: grid(5);
                $minStartMenuHeight:60vh;
                min-height: $minStartMenuHeight;
                background-color: rgba($night,$opacity);
                border: 1px solid rgba($sky,0.5);
                border-left: 0;
                border-bottom: 0;
                @extend .prl;
                @extend .ptb;
                .profile{
                    .profileBlock{
                        .image{
                            img{
                                border-radius: 50%;
                                width: 100%;
                            }
                        }
                        .name{
                            font-weight: $strong;
                            font-size: $largeSize;
                        }
                    }
                }
            }
            .files{
                position: relative;
                height: 100%;
                color: $day;
                $fileSize:120px !global;
                $fileHeight:120px !global;
                width: calc(100% - #{$fileSize}*2);
                float: left;
                .file{
                    width: $fileSize;
                    height: $fileHeight;
                    .file-item{
                        margin: $normalSize;
                        text-align: center;
                    }
                }
                .documents{
                    top: 0;
                    left: 0;
                    @extend .fileStyle;
                }
                .control{
                    top: $fileHeight;
                    left: 0;
                    @extend .fileStyle;
                }
                .terminal{
                    top: calc(2* #{$fileHeight});
                    left: 0;
                    @extend .fileStyle;
                }
                .notes{
                    top: calc(3*#{$fileHeight});
                    left: 0;
                    @extend .fileStyle;
                }
                .trashBox{
                    right: 0;
                    bottom: 0;
                    @extend .fileStyle;
                }
            }
            .gadFiles{
                @extend .files;
                $gradFileHeight:20vh;
                background-color: rgba($sky,$opacity/1.5);
                width: 2*$fileSize;
                float: right;
                .file{
                    @extend .fileStyle;
                    z-index: 2;
                }
                .tasks{
                    background-color: rgba($sky,$opacity);
                    top: 0;
                    width: $fileSize*2;
                }
                .settings{
                    background-color: rgba($fire,$opacity);
                    top: $fileHeight;
                }
                .profile{
                    top: $fileHeight;
                    left: $fileSize;
                    background-color: rgba(#00cc69,$opacity);
                }
                .player{
                    top: $fileHeight*2;
                    width: $fileSize*2;
                    background-color: rgba(#6b69d6,$opacity);
                }
                .youtube{
                    top: $fileHeight*3;
                    left: 0;
                    color: $night;
                    background-color: rgba(darken(#e6e6e6,5%),$opacity);
                    .icon{
                        color: $fire;
                        &:hover{
                            transition: $transition;
                            color: darken($fire,20%);
                        }
                    }
                }
                .calendar{
                    background-color: rgba(#ac193d,$opacity);
                    top: $fileHeight*3;
                    right: 0;
                }
                .clock{
                    width: 2*$fileSize;
                    top: $fileHeight*4;
                    z-index: 1;
                }
                .mail{
                    top: $fileHeight*5;
                    width: $fileSize*2;
                }
            }
            .windows{
                display: none;
                $parentWindowWidth:calc(100% - #{$fileSize}*4) !global;
                $parentWindowHeight:calc(100% - #{$fileSize}*2) !global;
                $parentWindowRight:calc(2*#{$fileSize}) !global;
                z-index: 3;
                position: absolute;
                top: 0;
                right: $parentWindowRight;
                width:$parentWindowWidth;
                .window{
                    position: absolute;
                    $windowWidth:100%;
                    $windowHeight:100%;
                    width: $windowWidth;
                    min-height: $windowHeight;
                    .window-item{
                        margin: $largeSize;
                        .top{
                            background-color: $sky;
                            color: $day;
                            $windowTopHeight:30px !global;
                            height: $windowTopHeight;
                            line-height: $windowTopHeight;
                            cursor: default;
                            .logo{
                                float: left;
                                @extend .prl;
                                text-align: left;
                                width: 2%;
                                &:hover{
                                    transition: $transition;
                                    color: $silver;
                                }
                            }
                            .name{
                                text-align: center;
                                width: calc(100% - 12% - 4*#{$prl});
                            }
                            .windowsActions{
                                text-align: right;
                                width: 10%;
                                float: right;
                                @extend .prl;
                                ul{
                                    li{
                                        padding-left: $prl;
                                        &:hoveR{
                                            transition: $transition;
                                            color: $fire;
                                        }
                                    }
                                }
                            }
                        }
                        .body{
                            background-color: rgba($day,$opacity);
                            $windowBodyHeight:500px !global;
                            height: $windowBodyHeight;
                            position: relative;
                            .topMenu ul{
                                height: $windowTopHeight;
                                background-color: $day;
                                cursor: default;
                                border-bottom: 1px solid rgba($silver,0.5);
                                li{
                                    .item{
                                        line-height: $windowTopHeight;
                                        color: darken($sky,20%);
                                        @extend .prl;
                                        display: block;
                                        &:hoveR{
                                            transition: $transition;
                                            color: $day;
                                            background-color: $sky;
                                        }
                                        &:hover + .dropMenuContent{
                                            transition: $transition;
                                            display: block;
                                        }
                                    }
                                    .dropMenuContent{
                                        position: absolute;
                                        display: none;
                                        background-color: rgba($day,$opacity);
                                        ul{
                                            cursor: auto;
                                            height: auto;
                                            border: 0;
                                            .bb{
                                                border-bottom: 1px solid rgba($silver,0.5);
                                            }
                                            li{
                                                @extend .item;
                                                display: block;
                                                border-right: 1px solid rgba($silver,0.5);
                                                &:last-child{
                                                    @extend .bb;
                                                }
                                                a{
                                                    @extend .prl;
                                                    display: block;
                                                    color: inherit;
                                                    &:hoveR{
                                                        transition: $transition;
                                                        color: $day;
                                                        background-color: $sky;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .navigation{
                                height: $windowTopHeight;
                                ul{
                                    li{
                                        line-height: $windowTopHeight;
                                    }
                                    .arrows{
                                        float: left;
                                        font-size: $largeSize;
                                        text-align: center;
                                        ul{
                                            @extend .prl;
                                            li{
                                                padding-right: $prl;
                                                &:last-child{
                                                    padding: 0;
                                                }
                                                &:hover{
                                                    transition: $transition;
                                                    color: lighten($night,20%);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .documents{
                    display: none;
                    .window-item{
                        .body{
                            
                        }
                    }
                }
                .notes{
                    display: block;
                    .window-item{
                        .body{
                            .content{
                                height: calc(100% - #{$windowTopHeight});
                                textarea{
                                    padding: 4px;
                                    border: 0;
                                    background: transparent;
                                    margin-top: -1px;
                                    width:calc(100% - 8px);
                                    height: calc(100% - 9px);
                                    overflow-y:scroll;
                                    resize:none;
                                }
                            }
                        }
                    }
                }
            }
            .underWindow{
                display: none;
                position: relative;
                width: $parentWindowWidth;
                left: $parentWindowRight;
                $underWindowTop:calc(100% - #{$fileSize}*2.1);
                top: $underWindowTop;
                height: 35%;
                .underItem{
                    height: 100%;
                }
                .keyboard{
                    display: none;
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    .board{
                        height: 100%;
                        background-color: rgba(darken($night,10%),0.6);
                        ul{
                            height: 100%;
                            li{
                                $keySize:100%/15;
                                color: $day;
                                cursor: default;
                                width: $keySize;
                                text-align: center;
                                .key{
                                    background-color: rgba(darken($night,10%),$opacity/1.2);
                                    &:hover{
                                        transition: $transition;
                                        background-color:darken($night,10%);
                                    }
                                    display: block;
                                    @extend .ptb;
                                    margin: $xxxxSmallSize;
                                    height: calc(20% - #{$ptb}*2);
                                }
                                .tab{
                                    width: calc(200% - 2*#{$xxxxSmallSize});
                                }
                                .enter{
                                    width: calc(200% - 2*#{$xxxxSmallSize});
                                }
                                .nonekey{
                                    display: none;
                                }
                                .space{
                                    width: calc(500% - 2*#{$xxxxSmallSize});
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}